{% extends '::base.html.twig' %}
{% form_theme form 'Form/ProductForm.html.twig' %}
{% block body %}

  <div class="container">
    <h1 class="md-4">Nuevo Producto</h1>
    <div class="row">
      <div class="col-md-8">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
