{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-4">

  <div class="list-group">
    {% for products in product %}
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">{{ products.name }}</h4>
      <p class="list-group-item-text">{{ products.price }}</p>
    </a>
    {% endfor %}
  </div>
{% endblock %}
